# Library Tests

In [1]:
import yfinance as yf

from mplchart import library

In [2]:
ticker = "AAPL"
prices = yf.Ticker(ticker).history(period="5y")
prices = prices.rename(columns=str.lower).rename_axis(index=str.lower)
prices

,open,high,low,close,volume,dividends,stock splits
date,,,,,,,
2019-03-15 00:00:00-04:00,44.488726,45.085598,44.221577,44.794380,156171600,0.0,0.0
2019-03-18 00:00:00-04:00,44.717365,45.340712,44.714956,45.251663,104879200,0.0,0.0
2019-03-19 00:00:00-04:00,45.331089,45.485120,44.746247,44.893059,126585600,0.0,0.0
2019-03-20 00:00:00-04:00,44.820847,45.605449,44.459835,45.285351,124140800,0.0,0.0
2019-03-21 00:00:00-04:00,45.733013,47.251670,45.682470,46.953232,204136800,0.0,0.0
...,...,...,...,...,...,...,...
2024-03-11 00:00:00-04:00,172.940002,174.380005,172.050003,172.750000,60139500,0.0,0.0
2024-03-12 00:00:00-04:00,173.149994,174.029999,171.009995,173.229996,59825400,0.0,0.0
2024-03-13 00:00:00-04:00,172.770004,173.190002,170.759995,171.130005,52488700,0.0,0.0
2024-03-14 00:00:00-04:00,172.910004,174.309998,172.050003,173.000000,72913500,0.0,0.0
2024-03-15 00:00:00-04:00,171.000000,172.470001,170.289993,171.565002,65769814,0.0,0.0

In [3]:
library.calc_adx(prices)

                                 adx        pdi        mdi
date
2019-03-15 00:00:00-04:00        NaN        NaN        NaN
2019-03-18 00:00:00-04:00        NaN        NaN        NaN
2019-03-19 00:00:00-04:00        NaN        NaN        NaN
2019-03-20 00:00:00-04:00        NaN        NaN        NaN
2019-03-21 00:00:00-04:00        NaN        NaN        NaN
...                              ...        ...        ...
2024-03-11 00:00:00-04:00  33.339258  15.667816  30.745388
2024-03-12 00:00:00-04:00  33.510401  14.668132  30.980952
2024-03-13 00:00:00-04:00  33.725814  13.887659  29.871045
2024-03-14 00:00:00-04:00  33.379254  15.353287  27.818775
2024-03-15 00:00:00-04:00  33.497597  14.442621  30.020873

[1260 rows x 3 columns]