# Mplchart Library Tests

In [1]:
import yfinance as yf

from mplchart import library

In [2]:
ticker = "AAPL"
prices = yf.Ticker(ticker).history(period="5y")
prices = prices.rename(columns=str.lower).rename_axis(index=str.lower)
prices

,open,high,low,close,volume,dividends,stock splits
date,,,,,,,
2019-09-30 00:00:00-04:00,53.438140,54.328375,53.411530,54.180809,103909600,0.0,0.0
2019-10-01 00:00:00-04:00,54.446908,55.208926,54.236443,54.330788,139223200,0.0,0.0
2019-10-02 00:00:00-04:00,53.960663,54.086458,52.719658,52.968830,138449200,0.0,0.0
2019-10-03 00:00:00-04:00,52.840614,53.452652,52.042311,53.418785,114426000,0.0,0.0
2019-10-04 00:00:00-04:00,54.584797,55.032334,54.161453,54.916214,138478800,0.0,0.0
...,...,...,...,...,...,...,...
2024-09-23 00:00:00-04:00,227.339996,229.449997,225.809998,226.470001,54146000,0.0,0.0
2024-09-24 00:00:00-04:00,228.649994,229.350006,225.729996,227.369995,43556100,0.0,0.0
2024-09-25 00:00:00-04:00,224.929993,227.289993,224.020004,226.369995,42308700,0.0,0.0
2024-09-26 00:00:00-04:00,227.300003,228.500000,225.410004,227.520004,36636700,0.0,0.0
2024-09-27 00:00:00-04:00,228.460007,229.520004,227.300003,227.789993,33993600,0.0,0.0

In [3]:
library.calc_adx(prices)

date
2019-09-30 00:00:00-04:00          NaN
2019-10-01 00:00:00-04:00          NaN
2019-10-02 00:00:00-04:00          NaN
2019-10-03 00:00:00-04:00          NaN
2019-10-04 00:00:00-04:00          NaN
                               ...
2024-09-23 00:00:00-04:00    15.043774
2024-09-24 00:00:00-04:00    14.870636
2024-09-25 00:00:00-04:00    14.322498
2024-09-26 00:00:00-04:00    14.048150
2024-09-27 00:00:00-04:00    13.992472
Name: adx, Length: 1258, dtype: float64