# Fetching sample prices

In [1]:
from mplchart.samples import sample_prices

In [2]:
prices = sample_prices()
prices

,open,high,low,close,volume
date,,,,,
2018-09-24 00:00:00-04:00,51.913951,52.977032,51.868458,52.864498,110773600
2018-09-25 00:00:00-04:00,52.615485,53.350547,52.603513,53.199703,98217600
2018-09-26 00:00:00-04:00,52.914793,53.573235,52.617894,52.775921,95938800
2018-09-27 00:00:00-04:00,53.589981,54.217296,53.522937,53.860538,120724800
2018-09-28 00:00:00-04:00,53.822226,54.073631,53.637865,54.049690,91717600
...,...,...,...,...,...
2023-09-18 00:00:00-04:00,176.479996,179.380005,176.169998,177.970001,67257600
2023-09-19 00:00:00-04:00,177.520004,179.630005,177.130005,179.070007,51826900
2023-09-20 00:00:00-04:00,179.259995,179.699997,175.399994,175.490005,58436200
2023-09-21 00:00:00-04:00,174.550003,176.300003,173.860001,173.929993,63047900
2023-09-22 00:00:00-04:00,174.669998,177.078995,174.054993,174.789993,55110610