# Sample Prices

In [1]:
from mplchart.samples import sample_prices

In [2]:
for freq in "daily", "hourly", "minute":
    prices = sample_prices(freq)
    index = prices.index
    print(freq, len(prices), index.dtype)

daily 10960 datetime64[ns]
hourly 3501 datetime64[ns, America/New_York]
minute 2670 datetime64[ns, America/New_York]

In [5]:
prices = sample_prices(freq="daily")
prices

                  open        high         low       close     volume
date
1980-12-12    0.099058    0.099488    0.099058    0.099058  469033600
1980-12-15    0.094321    0.094321    0.093890    0.093890  175884800
1980-12-16    0.087429    0.087429    0.086999    0.086999  105728000
1980-12-17    0.089152    0.089582    0.089152    0.089152   86441600
1980-12-18    0.091736    0.092167    0.091736    0.091736   73449600
...                ...         ...         ...         ...        ...
2024-05-29  189.610001  192.250000  189.509995  190.289993   53068000
2024-05-30  190.759995  192.179993  190.630005  191.289993   49947900
2024-05-31  191.440002  192.570007  189.910004  192.250000   75158300
2024-06-03  192.899994  194.990005  192.520004  194.029999   50031100
2024-06-04  194.720001  195.320007  193.034195  194.529999   29703490

[10960 rows x 5 columns]

In [6]:
prices.index

DatetimeIndex(['1980-12-12', '1980-12-15', '1980-12-16', '1980-12-17',
               '1980-12-18', '1980-12-19', '1980-12-22', '1980-12-23',
               '1980-12-24', '1980-12-26',
               ...
               '2024-05-21', '2024-05-22', '2024-05-23', '2024-05-24',
               '2024-05-28', '2024-05-29', '2024-05-30', '2024-05-31',
               '2024-06-03', '2024-06-04'],
              dtype='datetime64[ns]', name='date', length=10960, freq=None)