# Fetching prices with yfinance

In [50]:
import yfinance as yf

from mplchart.chart import Chart
from mplchart.primitives import Candlesticks

In [56]:
# intervals: 1m, 2m, 5m, 15m, 30m, 60m, 90m, 1h, 1d, 5d, 1wk, 1mo, 3mo

def max_period(interval: str) -> str:
    if interval.endswith("m"):
        period = "5d"
    elif interval.endswith("h"):
        period = "2y"
    else:
        period = "5y"

    return period


def fetch_prices(ticker, interval=None, period=None):
    if interval is None:
        interval = "1d"

    if period is None:
        period = max_period(interval)

    prices = yf.Ticker(ticker).history(interval=interval, period=period)

    if prices.index.name == 'Date':
        prices = prices.set_index(prices.index.tz_convert(None).normalize())
    
    return prices


prices = fetch_prices("AAPL")
prices

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2019-09-30,53.438140,54.328375,53.411530,54.180809,103909600,0.0,0.0
2019-10-01,54.446904,55.208922,54.236439,54.330784,139223200,0.0,0.0
2019-10-02,53.960667,54.086462,52.719662,52.968834,138449200,0.0,0.0
2019-10-03,52.840611,53.452649,52.042307,53.418781,114426000,0.0,0.0
2019-10-04,54.584793,55.032330,54.161449,54.916210,138478800,0.0,0.0
...,...,...,...,...,...,...,...
2024-09-23,227.339996,229.449997,225.809998,226.470001,54146000,0.0,0.0
2024-09-24,228.649994,229.350006,225.729996,227.369995,43556100,0.0,0.0
2024-09-25,224.929993,227.289993,224.020004,226.369995,42308700,0.0,0.0
2024-09-26,227.300003,228.500000,225.410004,227.520004,36636700,0.0,0.0
2024-09-27,228.460007,229.520004,227.300003,227.789993,33993600,0.0,0.0

In [58]:

fetch_prices("AAPL", "1d")

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2019-09-30,53.438140,54.328375,53.411530,54.180809,103909600,0.0,0.0
2019-10-01,54.446904,55.208922,54.236439,54.330784,139223200,0.0,0.0
2019-10-02,53.960667,54.086462,52.719662,52.968834,138449200,0.0,0.0
2019-10-03,52.840611,53.452649,52.042307,53.418781,114426000,0.0,0.0
2019-10-04,54.584793,55.032330,54.161449,54.916210,138478800,0.0,0.0
...,...,...,...,...,...,...,...
2024-09-23,227.339996,229.449997,225.809998,226.470001,54146000,0.0,0.0
2024-09-24,228.649994,229.350006,225.729996,227.369995,43556100,0.0,0.0
2024-09-25,224.929993,227.289993,224.020004,226.369995,42308700,0.0,0.0
2024-09-26,227.300003,228.500000,225.410004,227.520004,36636700,0.0,0.0
2024-09-27,228.460007,229.520004,227.300003,227.789993,33993600,0.0,0.0

In [59]:
fetch_prices("AAPL", "1h")

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Datetime,,,,,,,
2022-09-28 09:30:00-04:00,147.639999,148.369995,144.839996,147.369904,46429912,0.0,0.0
2022-09-28 10:30:00-04:00,147.354996,147.428802,146.059998,146.850006,19021163,0.0,0.0
2022-09-28 11:30:00-04:00,146.860001,147.699997,146.339996,147.149994,14416388,0.0,0.0
2022-09-28 12:30:00-04:00,147.149994,148.380005,147.050003,147.910004,13068925,0.0,0.0
2022-09-28 13:30:00-04:00,147.912704,148.082306,147.210007,147.907700,11635718,0.0,0.0
...,...,...,...,...,...,...,...
2024-09-27 11:30:00-04:00,228.119995,228.250000,227.300003,228.149994,3339358,0.0,0.0
2024-09-27 12:30:00-04:00,228.139999,228.619995,227.919998,227.994995,1914209,0.0,0.0
2024-09-27 13:30:00-04:00,227.990005,228.520004,227.809998,227.895004,2008696,0.0,0.0
2024-09-27 14:30:00-04:00,227.899994,228.190002,227.529999,227.809998,2165156,0.0,0.0
2024-09-27 15:30:00-04:00,227.820007,228.000000,227.550003,227.820007,3703154,0.0,0.0

In [60]:
fetch_prices("AAPL", "1m")

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Datetime,,,,,,,
2024-09-23 09:30:00-04:00,227.339996,227.529999,226.800003,226.839996,2964698,0.0,0.0
2024-09-23 09:31:00-04:00,226.835007,227.339996,226.667404,226.684998,286533,0.0,0.0
2024-09-23 09:32:00-04:00,226.699997,227.029999,226.110001,226.139999,449706,0.0,0.0
2024-09-23 09:33:00-04:00,226.160004,226.229996,225.860001,226.125000,454381,0.0,0.0
2024-09-23 09:34:00-04:00,226.110001,226.820007,226.029999,226.690002,307583,0.0,0.0
...,...,...,...,...,...,...,...
2024-09-27 15:55:00-04:00,227.929993,228.000000,227.789993,227.929993,356208,0.0,0.0
2024-09-27 15:56:00-04:00,227.940002,227.960007,227.869995,227.875000,412856,0.0,0.0
2024-09-27 15:57:00-04:00,227.875000,227.990005,227.820007,227.979996,205017,0.0,0.0
2024-09-27 15:58:00-04:00,227.990005,228.000000,227.850006,227.860107,298090,0.0,0.0
2024-09-27 15:59:00-04:00,227.869995,227.919998,227.710007,227.820007,1002155,0.0,0.0