In [25]:
from mplchart.samples import sample_prices

In [26]:
for freq in "daily", "hourly", "minute":
    prices = sample_prices(freq)
    print(freq, len(prices))

daily 1259
hourly 3497
minute 2452

In [27]:
prices = sample_prices(max_bars=15)
prices

                  open        high         low       close    volume    change
date
2024-01-02  187.149994  188.440002  183.889999  185.639999  82488700 -0.035787
2024-01-03  184.220001  185.880005  183.429993  184.250000  58414500 -0.007488
2024-01-04  182.149994  183.089996  180.880005  181.910004  71983600 -0.012700
2024-01-05  181.990005  182.759995  180.169998  181.179993  62303300 -0.004013
2024-01-08  182.089996  185.600006  181.500000  185.559998  59144500  0.024175
2024-01-09  183.919998  185.149994  182.729996  185.139999  42841800 -0.002263
2024-01-10  184.350006  186.399994  183.919998  186.190002  46792900  0.005671
2024-01-11  186.539993  187.050003  183.619995  185.589996  49128400 -0.003223
2024-01-12  186.059998  186.740005  185.190002  185.919998  40444700  0.001778
2024-01-16  182.160004  184.259995  180.929993  183.630005  65603000 -0.012317
2024-01-17  181.270004  182.929993  180.300003  182.679993  47317400 -0.005174
2024-01-18  186.089996  189.139999  185.830002  188.630005  78005800  0.032571
2024-01-19  189.330002  191.949997  188.820007  191.559998  68741000  0.015533
2024-01-22  192.300003  195.330002  192.259995  193.889999  60103400  0.012163
2024-01-23  195.020004  195.750000  193.829895  194.398895  15331760  0.002625

In [28]:
head = prices.head(10)
head

                  open        high         low       close    volume    change
date
2024-01-02  187.149994  188.440002  183.889999  185.639999  82488700 -0.035787
2024-01-03  184.220001  185.880005  183.429993  184.250000  58414500 -0.007488
2024-01-04  182.149994  183.089996  180.880005  181.910004  71983600 -0.012700
2024-01-05  181.990005  182.759995  180.169998  181.179993  62303300 -0.004013
2024-01-08  182.089996  185.600006  181.500000  185.559998  59144500  0.024175
2024-01-09  183.919998  185.149994  182.729996  185.139999  42841800 -0.002263
2024-01-10  184.350006  186.399994  183.919998  186.190002  46792900  0.005671
2024-01-11  186.539993  187.050003  183.619995  185.589996  49128400 -0.003223
2024-01-12  186.059998  186.740005  185.190002  185.919998  40444700  0.001778
2024-01-16  182.160004  184.259995  180.929993  183.630005  65603000 -0.012317

In [29]:
tail = prices.tail(10)
tail

                  open        high         low       close    volume    change
date
2024-01-09  183.919998  185.149994  182.729996  185.139999  42841800 -0.002263
2024-01-10  184.350006  186.399994  183.919998  186.190002  46792900  0.005671
2024-01-11  186.539993  187.050003  183.619995  185.589996  49128400 -0.003223
2024-01-12  186.059998  186.740005  185.190002  185.919998  40444700  0.001778
2024-01-16  182.160004  184.259995  180.929993  183.630005  65603000 -0.012317
2024-01-17  181.270004  182.929993  180.300003  182.679993  47317400 -0.005174
2024-01-18  186.089996  189.139999  185.830002  188.630005  78005800  0.032571
2024-01-19  189.330002  191.949997  188.820007  191.559998  68741000  0.015533
2024-01-22  192.300003  195.330002  192.259995  193.889999  60103400  0.012163
2024-01-23  195.020004  195.750000  193.829895  194.398895  15331760  0.002625

In [30]:
index = head.index.intersection(tail.index)
index

DatetimeIndex(['2024-01-09', '2024-01-10', '2024-01-11', '2024-01-12',
               '2024-01-16'],
              dtype='datetime64[ns]', name='date', freq=None)

In [31]:
len(index)

5

In [32]:
head.loc[index]

                  open        high         low       close    volume    change
date
2024-01-09  183.919998  185.149994  182.729996  185.139999  42841800 -0.002263
2024-01-10  184.350006  186.399994  183.919998  186.190002  46792900  0.005671
2024-01-11  186.539993  187.050003  183.619995  185.589996  49128400 -0.003223
2024-01-12  186.059998  186.740005  185.190002  185.919998  40444700  0.001778
2024-01-16  182.160004  184.259995  180.929993  183.630005  65603000 -0.012317

In [33]:
row = tail.loc[index[0]]
row

open      1.839200e+02
high      1.851500e+02
low       1.827300e+02
close     1.851400e+02
volume    4.284180e+07
change   -2.263409e-03
Name: 2024-01-09 00:00:00, dtype: float64