In [45]:
from mplchart.samples import sample_prices

In [46]:
prices = sample_prices().tail(15)
prices

,open,high,low,close,volume
date,,,,,
2023-09-01 00:00:00-04:00,189.490005,189.919998,188.279999,189.460007,45732600
2023-09-05 00:00:00-04:00,188.279999,189.979996,187.610001,189.699997,45280000
2023-09-06 00:00:00-04:00,188.399994,188.850006,181.470001,182.910004,81755800
2023-09-07 00:00:00-04:00,175.179993,178.210007,173.539993,177.559998,112488800
2023-09-08 00:00:00-04:00,178.350006,180.240005,177.789993,178.179993,65551300
2023-09-11 00:00:00-04:00,180.070007,180.300003,177.339996,179.360001,58953100
2023-09-12 00:00:00-04:00,179.490005,180.130005,174.820007,176.300003,90370200
2023-09-13 00:00:00-04:00,176.509995,177.300003,173.979996,174.210007,84267900
2023-09-14 00:00:00-04:00,174.000000,176.100006,173.580002,175.740005,60895800
2023-09-15 00:00:00-04:00,176.479996,176.500000,173.820007,175.009995,109205100
2023-09-18 00:00:00-04:00,176.479996,179.380005,176.169998,177.970001,67257600
2023-09-19 00:00:00-04:00,177.520004,179.630005,177.130005,179.070007,51826900
2023-09-20 00:00:00-04:00,179.259995,179.699997,175.399994,175.490005,58436200
2023-09-21 00:00:00-04:00,174.550003,176.300003,173.860001,173.929993,63047900
2023-09-22 00:00:00-04:00,174.669998,177.078995,174.054993,174.789993,55110610

In [47]:
head = prices.head(10)
head

,open,high,low,close,volume
date,,,,,
2023-09-01 00:00:00-04:00,189.490005,189.919998,188.279999,189.460007,45732600
2023-09-05 00:00:00-04:00,188.279999,189.979996,187.610001,189.699997,45280000
2023-09-06 00:00:00-04:00,188.399994,188.850006,181.470001,182.910004,81755800
2023-09-07 00:00:00-04:00,175.179993,178.210007,173.539993,177.559998,112488800
2023-09-08 00:00:00-04:00,178.350006,180.240005,177.789993,178.179993,65551300
2023-09-11 00:00:00-04:00,180.070007,180.300003,177.339996,179.360001,58953100
2023-09-12 00:00:00-04:00,179.490005,180.130005,174.820007,176.300003,90370200
2023-09-13 00:00:00-04:00,176.509995,177.300003,173.979996,174.210007,84267900
2023-09-14 00:00:00-04:00,174.000000,176.100006,173.580002,175.740005,60895800
2023-09-15 00:00:00-04:00,176.479996,176.500000,173.820007,175.009995,109205100

In [48]:
tail = prices.tail(10)
tail

,open,high,low,close,volume
date,,,,,
2023-09-11 00:00:00-04:00,180.070007,180.300003,177.339996,179.360001,58953100
2023-09-12 00:00:00-04:00,179.490005,180.130005,174.820007,176.300003,90370200
2023-09-13 00:00:00-04:00,176.509995,177.300003,173.979996,174.210007,84267900
2023-09-14 00:00:00-04:00,174.000000,176.100006,173.580002,175.740005,60895800
2023-09-15 00:00:00-04:00,176.479996,176.500000,173.820007,175.009995,109205100
2023-09-18 00:00:00-04:00,176.479996,179.380005,176.169998,177.970001,67257600
2023-09-19 00:00:00-04:00,177.520004,179.630005,177.130005,179.070007,51826900
2023-09-20 00:00:00-04:00,179.259995,179.699997,175.399994,175.490005,58436200
2023-09-21 00:00:00-04:00,174.550003,176.300003,173.860001,173.929993,63047900
2023-09-22 00:00:00-04:00,174.669998,177.078995,174.054993,174.789993,55110610

In [49]:
index = head.index.intersection(tail.index)
index

Index([2023-09-11 00:00:00-04:00, 2023-09-12 00:00:00-04:00,
       2023-09-13 00:00:00-04:00, 2023-09-14 00:00:00-04:00,
       2023-09-15 00:00:00-04:00],
      dtype='object', name='date')

In [50]:
len(index)

5

In [51]:
head.loc[index]

,open,high,low,close,volume
date,,,,,
2023-09-11 00:00:00-04:00,180.070007,180.300003,177.339996,179.360001,58953100
2023-09-12 00:00:00-04:00,179.490005,180.130005,174.820007,176.300003,90370200
2023-09-13 00:00:00-04:00,176.509995,177.300003,173.979996,174.210007,84267900
2023-09-14 00:00:00-04:00,174.000000,176.100006,173.580002,175.740005,60895800
2023-09-15 00:00:00-04:00,176.479996,176.500000,173.820007,175.009995,109205100

In [54]:
row = tail.loc[index[0]]
row

open      1.800700e+02
high      1.803000e+02
low       1.773400e+02
close     1.793600e+02
volume    5.895310e+07
Name: 2023-09-11 00:00:00-04:00, dtype: float64

In [55]:
row.close

179.36000061035156