# Fetching prices with the helper module (deprecated)

In [1]:
import warnings

from mplchart import helper

/var/folders/s8/jtb72jcx6739t9rmc8pl26980000gn/T/ipykernel_13568/2046007206.py:3: DeprecationWarning: The helper module is deprecated. Use your own data source.
  from mplchart import helper

In [3]:
[k for k, v in vars(helper).items() if callable(v)]

['list_cache', 'clear_cache', 'map_frequency', 'maximum_period', 'get_prices']

In [4]:
for file in helper.list_cache():
    print(file.name)

mplchart.helper.AAPL.1d.max.csv
mplchart.helper.AAPL.1mo.max.csv
mplchart.helper.AAPL.1wk.max.csv

In [5]:
helper.clear_cache(verbose=True)

Deleting mplchart.helper.AAPL.1d.max.csv ...
Deleting mplchart.helper.AAPL.1mo.max.csv ...
Deleting mplchart.helper.AAPL.1wk.max.csv ...

In [6]:
helper.get_prices('AAPL', freq='daily')

,open,high,low,close,volume
date,,,,,
1980-12-12 00:00:00-05:00,0.099450,0.099882,0.099450,0.099450,469033600
1980-12-15 00:00:00-05:00,0.094694,0.094694,0.094261,0.094261,175884800
1980-12-16 00:00:00-05:00,0.087775,0.087775,0.087343,0.087343,105728000
1980-12-17 00:00:00-05:00,0.089504,0.089937,0.089504,0.089504,86441600
1980-12-18 00:00:00-05:00,0.092099,0.092532,0.092099,0.092099,73449600
...,...,...,...,...,...
2023-09-18 00:00:00-04:00,176.479996,179.380005,176.169998,177.970001,67257600
2023-09-19 00:00:00-04:00,177.520004,179.630005,177.130005,179.070007,51826900
2023-09-20 00:00:00-04:00,179.259995,179.699997,175.399994,175.490005,58436200
2023-09-21 00:00:00-04:00,174.550003,176.300003,173.860001,173.929993,63047900
2023-09-22 00:00:00-04:00,174.669998,177.078995,174.054993,174.789993,55110610

In [7]:
helper.get_prices('AAPL', freq='weekly')

,open,high,low,close,volume
date,,,,,
1980-12-08 00:00:00-05:00,0.099450,0.099882,0.099450,0.099450,469033600
1980-12-15 00:00:00-05:00,0.094694,0.098152,0.087343,0.097720,490134400
1980-12-22 00:00:00-05:00,0.102476,0.123231,0.102476,0.122799,187891200
1980-12-29 00:00:00-05:00,0.124528,0.124960,0.118043,0.119340,219452800
1981-01-05 00:00:00-05:00,0.117178,0.117178,0.104639,0.110259,197904000
...,...,...,...,...,...
2023-08-21 00:00:00-04:00,175.070007,181.550003,173.740005,178.610001,247514300
2023-08-28 00:00:00-04:00,180.089996,189.919998,178.550003,189.460007,264165600
2023-09-04 00:00:00-04:00,188.279999,189.979996,173.539993,178.179993,305075900
2023-09-11 00:00:00-04:00,180.070007,180.300003,173.580002,175.009995,403692100
2023-09-18 00:00:00-04:00,176.479996,179.699997,173.860001,174.789993,295679210

In [8]:
helper.get_prices('AAPL', freq='monthly')

,open,high,low,close,volume
date,,,,,
1985-01-01 00:00:00-05:00,0.100747,0.107665,0.096423,0.100314,6366416000
1985-02-01 00:00:00-05:00,0.100314,0.106368,0.085613,0.085613,4733388800
1985-03-01 00:00:00-05:00,0.085613,0.089937,0.071777,0.076533,4615587200
1985-04-01 00:00:00-05:00,0.076533,0.079560,0.067886,0.073506,2868028800
1985-05-01 00:00:00-04:00,0.073506,0.076965,0.058373,0.060102,4639129600
...,...,...,...,...,...
2023-05-01 00:00:00-04:00,168.818205,178.860742,163.861762,176.766464,1275155500
2023-06-01 00:00:00-04:00,177.460357,194.217727,176.691391,193.708420,1297101100
2023-07-01 00:00:00-04:00,193.518676,197.962672,186.348366,196.185074,996066400
2023-08-01 00:00:00-04:00,195.975361,196.464690,171.728106,187.616638,1322439400
2023-09-01 00:00:00-04:00,189.490005,189.979996,173.539993,174.789993,1050179810

In [9]:
helper.get_prices('AAPL', freq='1min')

,open,high,low,close,volume
date,,,,,
2023-09-14 09:30:00-04:00,174.000000,174.199997,173.809998,173.872803,2853594
2023-09-14 09:31:00-04:00,173.869995,174.099701,173.580002,173.660004,359059
2023-09-14 09:32:00-04:00,173.654999,174.197006,173.600006,174.179993,359135
2023-09-14 09:33:00-04:00,174.179993,174.470001,174.000000,174.339996,372394
2023-09-14 09:34:00-04:00,174.309998,174.449997,174.130005,174.272903,195746
...,...,...,...,...,...
2023-09-22 15:55:00-04:00,174.850006,175.044998,174.800003,174.820007,431956
2023-09-22 15:56:00-04:00,174.809998,174.919998,174.800003,174.880005,207663
2023-09-22 15:57:00-04:00,174.882004,174.925003,174.839996,174.869995,313203
2023-09-22 15:58:00-04:00,174.869995,174.910004,174.820007,174.899994,381540
2023-09-22 15:59:00-04:00,174.899994,174.919998,174.710007,174.740005,1237598

In [10]:
helper.get_prices('AAPL', freq='5min')

,open,high,low,close,volume
date,,,,,
2023-06-29 09:30:00-04:00,189.080002,189.949997,189.050003,189.809998,3484599
2023-06-29 09:35:00-04:00,189.830002,189.869995,189.304993,189.660004,1252068
2023-06-29 09:40:00-04:00,189.649994,189.729996,189.250000,189.330002,962954
2023-06-29 09:45:00-04:00,189.329895,189.949997,189.300003,189.850006,1121085
2023-06-29 09:50:00-04:00,189.840103,189.990005,189.824997,189.955002,926026
...,...,...,...,...,...
2023-09-22 15:35:00-04:00,175.530899,175.589996,175.440002,175.535004,333695
2023-09-22 15:40:00-04:00,175.539993,175.580002,174.949997,174.979996,782093
2023-09-22 15:45:00-04:00,174.979996,175.160004,174.779999,174.970001,901702
2023-09-22 15:50:00-04:00,174.970001,174.970001,174.619995,174.850006,1378722
2023-09-22 15:55:00-04:00,174.850006,175.044998,174.710007,174.740005,2571960

In [11]:
helper.get_prices('AAPL', freq='15min')

,open,high,low,close,volume
date,,,,,
2023-06-29 09:30:00-04:00,189.080002,189.949997,189.050003,189.330002,5699621
2023-06-29 09:45:00-04:00,189.329895,190.070007,189.300003,189.699295,3998254
2023-06-29 10:00:00-04:00,189.699997,189.975006,189.059998,189.460007,2557308
2023-06-29 10:15:00-04:00,189.449997,189.860001,189.350006,189.470001,2050805
2023-06-29 10:30:00-04:00,189.460007,189.570007,189.110001,189.220001,1746009
...,...,...,...,...,...
2023-09-22 14:45:00-04:00,175.089996,175.429993,175.039093,175.291000,1007483
2023-09-22 15:00:00-04:00,175.279999,175.889999,175.210007,175.730103,1752057
2023-09-22 15:15:00-04:00,175.740005,175.990005,175.639999,175.690002,1318549
2023-09-22 15:30:00-04:00,175.684998,175.785004,174.949997,174.979996,1472884
2023-09-22 15:45:00-04:00,174.979996,175.160004,174.619995,174.740005,4852384

In [12]:
helper.get_prices('AAPL', freq='1hour')

,open,high,low,close,volume
date,,,,,
2023-06-29 09:30:00-04:00,189.080002,190.070007,189.050003,189.470001,14305988
2023-06-29 10:30:00-04:00,189.460007,189.899994,188.940002,189.889999,5669341
2023-06-29 11:30:00-04:00,189.889999,189.910004,189.210007,189.675003,3916975
2023-06-29 12:30:00-04:00,189.669998,189.720001,189.110001,189.490005,2849181
2023-06-29 13:30:00-04:00,189.490005,189.729996,189.179993,189.650604,3426306
...,...,...,...,...,...
2023-09-22 11:30:00-04:00,176.380005,176.750000,175.940002,176.610001,5882339
2023-09-22 12:30:00-04:00,176.619995,177.078995,175.580002,175.699997,6590040
2023-09-22 13:30:00-04:00,175.679993,175.679993,174.960007,175.130005,5107772
2023-09-22 14:30:00-04:00,175.119995,175.990005,174.809998,175.690002,5389547
2023-09-22 15:30:00-04:00,175.684998,175.785004,174.619995,174.789993,6325268